<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ===== Permisos ===== -->
    <!-- Permiso para usar cámara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permiso opcional para llamadas (solo si después usas ACTION_CALL en vez de DIAL) -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- Permiso para abrir mapa (solo se usa implícitamente, no es obligatorio) -->

    <!-- Declarar que puede tener flash (opcional, no obligatorio) -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- ===== Activities de la app ===== -->
        <activity
            android:name=".CamaraActivity"
            android:exported="false" />

        <activity
            android:name=".PerfilActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AyudaActivity" android:exported="false"/>


        <!-- ===== FileProvider ===== -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ruta_archivo" />
        </provider>

    </application>
</manifest>
